
/** FOOTER  RENAME h4_footer 
	nearly every page, */
.tmplFoot { margin:1.2em; text-align:center; font-size: 70%; max-width:100vw; }
.tmplFoot .column { display:inline-block; height:3.1em;  }
.tmplFoot .column:first-child { width:180px; vertical-align:top; text-align:right; flex: 1 4 0px; } 
.tmplFoot .bigColumn { flex:4 4 0px; }

.tmplFoot .leftFooter img { vertical-align:top; }
.tmplFoot p { margin-bottom:0.2em; }
.tmplFoot a { text-decoration:underline; }

@media screen and (min-resolution: 150dpi) {
	.tmplFoot p { margin-bottom:1em; }
	.tmplFoot { width:100%; margin:0.6em; }
}
@media screen and (max-width:1000px) {
	/* as of 2020 this only applies to the home page */
	.tmplFoot .leftFooter:nth-child(2) { width:120px; }
}
@media screen and (max-width:700px) {
    .tmplFoot .leftFooter { display:none; }
    .tmplFoot { margin:0; margin-top:2em; font-size:100%; } 
    .tmolFoot a { margin-left:1.5em; }
}	

/** AccessSrc widget, right aligned container for source links, 
	pages with source obs */
.accessSrc { display:block; text-align:right; margin-right:18em; margin-left:1em; }
.halferWords .accessSrc { margin-right:2em; margin-left:60%; }
.fewWords .accessSrc { margin-right:2em; margin-left:40%; }
@media screen and (max-width: 800px) {
	.accessSrc { margin-right:1em; }
}

/** shareGroup RENAME and rename bibbles
	every page */
.bibbles { display:inline-block; width: calc( 100% - 2em ); min-height:3.18em; }
@media screen and (min-resolution: 150dpi) {
	.bibbles a.button:first-child { margin-left:0em; width:5em; }
	.bibbles { margin-left:0em; padding-left:0em; }
}
/* re-apply everything for a mac 
This is big screen mac, should work with wide versions
*/
@media not all and (min-resolution:.001dpcm) { 
  @supports (-webkit-appearance: none) {
	.bibbles { margin-left:1em; }	
	}
}
.bibbles span.ultraSkinny { margin:0.5em; padding:0; display:inline; list-style:none; list-style-type:none; 
			list-style-position:unset; margin-bottom:0px; margin-top: 0; vertical-align: top; 
			max-width: calc(100% - 27em); }
.bibbles span.ultraSkinny span { margin:0em 0.5em; padding:0; line-height: 1.2; 
		display:inline-block; margin-bottom:0px; white-space: nowrap; } 
@media screen and ( min-width:1000px ) {
	.bibbles span.ultraSkinny span { vertical-align: middle; }
	.bibbles span.ultraSkinny { display:inline-block; margin-top:0.5em;  }
}
@media screen and ( max-resolution: 100dpi) and (max-width:1000px) {
	.bibbles span.ultraSkinny { width:13em; display:inline-block; }
}
@media screen and (min-resolution: 150dpi) {
	.bibbles span.ultraSkinny span { font-size: 100%;  } 
}


/** sharemenu, for mobile
    every page */
.shareMenu { display:none; }
.shareMenuOpen { width: fit-content; z-index: 3; position: absolute; text-align: right; left: calc( 100% - 7em ); 
			top: 5em; border: 0.4em ridge var(--hardfg); }
.shareMenuOpen menu { padding-inline-start: 0px; padding:0; }
.shareMenuOpen ul li:nth-child(1) { padding-left:2em; }
.shareMenuOpen ul { width:fit-content; margin-left: 0px; }
.shareMenuOpen ul li { margin-bottom:0.5em; }
.shareMenuOpen span.hunchUp { text-align:left; margin-left:-0.6em; padding-left:0; font-size:60%; }
.shareMenuOpen a.hunchUp { text-align: left; line-height: 0.5; position:relative; left:-1.5em; }
.shareMenuOpen menu { margin-block-end:0; margin-block-start:0; }
.shareMenuOpen ul li:nth-child(2) { margin-left: 0px; margin-right: 0px; }
.shareMenu #copyURL { 
	background-color: rgba(calc(var(--bgr) * var(--bgcontrast)), calc(var(--bgg) * var(--bgcontrast)), calc(var(--bgb) * var(--bgcontrast)), 1.0); 
	transition: background-color 3s ease; }
.shareMenuOpen #copyURL:active, .shareMenuOpen #copyURL:active * { background-color:#00ff29; } 
.shareMenu #shareClose { margin-left:2em; }

@media screen and (max-resolution:100dpi ) and (min-width:500px) {
	.shareMenuOpen a.hunchUp { left:0em; }
}

/* detect if prefix is necessary */
@media screen and (min-resolution: 150dpi) {
  .shareMenuOpen a i { margin: .3em; height: 1.5em; display: inline-block; }
  .shareMenuOpen a i.fa-copy { margin: 3px 0px; padding: 0px; position: relative; left: 0.1em; }
  .shareMenuOpen a.button  { margin-left:0.40em; }
  .shareMenuOpen span.hunchUp { text-align: left; padding-left: 0; margin-left: 0px; font-size: 100%; 
	line-height: 0.8; vertical-align: text-top; }
  .shareMenuOpen a { font-size:120%; }
  .shareMenuOpen a i.fa { font-size:150%; }
}

/** keyWordsWidget 
	used on about 5 pages
*/
.keywordsWidget dl dd::-webkit-scrollbar { width: 1em; }
.keywordsWidget dl dd::-webkit-scrollbar-thumb { background-color: var(--scroll1); outline: 1px solid var(--scroll2); }
/* branch for FF */
.keywordsWidget dl dd { scrollbar-width: auto; scrollbar-color:var(--scroll1) transparent; }

.keywordsWidget { min-width:800px; max-width:85%; margin-left:auto; margin-right:auto; }
.keywordsWidget .focuss { container: size; font-size:120%; }
.keywordsWidget .focuss dt { display:inline-block; margin-right:1em; vertical-align:middle; margin-bottom: 0; }
.keywordsWidget .focuss dd { display:inline-block; white-space:nowrap; overflow-x:scroll; 
			vertical-align:middle; max-width: calc( 100vw - 8em ); }
@media screen and (max-width:800px) {
	.keywordsWidget { min-width:inherit; max-width:inherit; }
	.keywordsWidget .focuss { width:100%; } 
    .keywordsWidget .focuss dd { width: calc( 100vw - 3em ); min-width:inherit; } 
}

/** mobileBiblio
	about 70-80% of pages, via mobile only */
.mobileBiblio { hyphenate-character: "↩"; -webkit-hyphenate-character: "↩";  }
.mobileBiblio span { display:inline-block; }
.mobileBiblio span:nth-of-type(1) { min-width:25em; }
.mobileBiblio span:nth-of-type(2) { white-space:nowrap; }
/* no motion, #leSigh */
@media screen and (min-width:900px) {
	.mobileBiblio { width:38em; margin-left:auto; margin-right:auto; }
}
@media screen and (min-resolution: 150dpi) {
	.mobileBiblio { margin:0.1em; }
	.mobileBiblio span:nth-of-type(1) { width:auto; min-width:auto; }
}

/** betterDL for defining terms
	about 5 pages
*/
.betterDL dl dt { display: inline-block; width: 20%; max-width: 5em; text-align: center; vertical-align: text-top; }
.betterDL dl dd { display: inline-block; width: 80%; text-align: left; vertical-align: text-top; }

/** accordionWidget 
    a few pages
  */
.accordionWidget summary a[href^="#"] { pointer-events:none; }
.accordionWidget summary a[href^="#"] sup { pointer-events:auto; }
.accordionWidget summary h4 { display:inline; }
.accordionWidget details { overflow-y: scroll; }
.accordionWidget details:not([open]) { overflow-y: hidden; }

/** allButtons 
	every page */
.allButtons { padding: 0; vertical-align: super; display:inline-block; white-space:nowrap; width: 31.5em; }
.allButtons a, .allButtons span { display:inline-block; width:3em; text-align:center; padding:0.5em 0.3em; }
.allButtons a:first-child { width:5em; }
.allButtons a:last-child { vertical-align:middle; }
@media screen and (min-resolution: 150dpi) {
	.allButtons a.bigScreenOnly, .allButtons span.bigScreenOnly, .bigScreenOnly, .ultraSkinny.bigScreenOnly,
	.allButtons a.bigScreenOnly { display:none; }
	.allButtons a { width:inherit; }
}
@media screen and ( max-resolution: 130dpi) and (min-aspect-ratio:3/5 ) and (min-width: 800px ) {
	.allButtons a.smallScreenOnly { display:none; }
}
/* re-apply everything for a mac 
This is big screen mac, should work with wide versions
*/
@media not all and (min-resolution:.001dpcm) { 
  @supports (-webkit-appearance: none) {
	.allButtons a.smallScreenOnly { display:none; }
}	}
/* small screen mac, AKA iphone/ ipad */
@media screen and (max-width:800px) and (min-resolution:120dpi) {
	@supports (-webkit-touch-callout) {
	.allButtons a.bigScreenOnly { display:none; }
	.allButtons a { width:inherit; }
	}
}

/** popup1
   every page */
.popup1 { display:none; }
dialog.popup1[open] { display:block; z-index:4; width:400px; position: absolute; padding: 0.5em; left: calc( 50% - 200px ); }
.popup1 input { width:15em; display:inline-block; font-size:130%; }
.popup1 .button { display:inline-block; margin-bottom:0; padding-bottom: 1em; padding-top: 1em; }
.popup1 .button.trimmed { padding: 0.6em; margin-left: 4em; }
dialog.popup1 a.button.masto { margin-right:1em; padding:0.7em; margin-left:3em; }
.button.masto { border-width: 0px; padding: 0.6em; vertical-align: baseline; margin:0.65em; margin-bottom:0.1em; } 

@media screen and (min-resolution: 150dpi) {
	dialog.popup1[open] { width:95%; left:-2em; font-size:100%; position:absolute; }
	.popup1 input { width:100vw; min-width:10em; display:inline-block; }
	.popup1 .button { display:inline-block; margin-bottom:0; padding-bottom: 1em; padding-top: 1em; font-size:120%; margin-left:0.3em; }
	.popup1 .button.trimmed { padding: 0.7em 0.5em; margin-left:0.2em; padding-left:0.2em; }
	.popup1 span.button.masto  { margin-left:0.3em; margin-right:0.3em; margin-top:0.5em; }
	.articleHeader .popup1 span.button.trimmed i { width:50px; margin:0.5em 0.3em; } 
	.popup1 .fa-cancel { margin:0px; }
	.popup1 a.button { margin-left: 0px; width:100vw; }
	.popup1 a#hideMasto { padding: 0.45em 0.75em; }

}
@media screen and ( max-resolution: 130dpi) and (min-aspect-ratio:3/5 ) and (min-width: 800px ) {
	.popup1.bigScreenOnly { display:none; }
}	
/* re-apply everything for a mac 
This is big screen mac, should work with wide versions
*/
@media not all and (min-resolution:.001dpcm) { 
  @supports (-webkit-appearance: none) {
	.popup1.bigScreenOnly { display:none; }	
}
}

/* default page menu 
	nearly every page */
 .defaultLinksMenu { text-align: right; margin-left: auto; white-space: nowrap; }
 .defaultLinksMenu.column { flex: 1 1 10em; }
 .defaultLinksTrigger:before { content:'\e805'; font-size:1.5em; padding:0.5em; }
 .defaultLinksTrigger::marker { content:""; }
 .defaultLinksMenu[open] .defaultLinksTrigger { --bgr: 0; --bgg: 73; --bgb: 135; --fgr: 245; --fgg: 245; --fgb: 245; }
 .defaultLinksMenu[open] .defaultLinksTrigger:before { content:'\e802'; }
 .defaultLinksMenu[open] { z-index:2; position:fixed; right:4%;  }

 .dfl { --bgr: 215; --bgg: 242; --bgb: 250; --fgr: 245; --fgg: 245; --fgb: 245; 
		list-style: none; margin-top:2px; padding-left:0px; }
 .dfl li a { width: calc( 100% - 2em ); display: inline-block; padding:0.4em 1em; }
 .dfl li:nth-child(even) a, .dfl li:nth-child(even) { --bgr: 240; --bgg: 255; --bgb: 255; }
 .dfl li:first-child { --bgr: 0; --bgg: 73; --bgb: 135; width: calc( 100% - 2em ); 
					display: inline-block; padding: 0.3em 1em; }

 .titleHolder summary { --bgr: 0; --bgg: 73; --bgb: 135; --fgr: 245; --fgg: 245; --fgb: 245; 
					width: calc( 100% - 2em ); padding:0px 1em; } 
 .titleHolder summary::marker { font-size:2em; text-align:left; }
 .titleHolder summary div { width: 73%; display: inline-block; padding-bottom: .80em; padding-right: 0.7em; }
 .titleHolder { z-index:1; position:fixed; right:4%; }
 .titleHolder:not( :has( .titleList> * ) ) { display:none; }
 .titleList { list-style:none; padding-left: 0; margin:0; border: 1px solid var( --scroll1 );  }
 .titleHolder[open] summary div { padding-right:0px; }
 .titleList a { width: calc( 100% - 2em ); display: inline-block; padding:0.4em 1em; }
 .titleList li:nth-child(even) { --bgr: 240; --bgg: 255; --bgb: 255; }
 .defaultLinksMenu:has( .defaultLinksMenu[open] ) .titleList { margin-top:4em; }

/** broswerTest
	about 15-20 pages
 */
.browserTestingContainer { margin-top:2em; display: block; width: 30em; margin-left: auto; margin-right: auto; }
.browserTestingContainer legend { font-size:1.6em; }
@media screen and (min-width:1280px) {
	.browserTestingContainer { width: 40em; }
}

/** adjacent  group holds list * X holds item * X 
	Every page */
.adjacentList { display:flex; white-space:nowrap; flex-flow:row nowrap; overflow-x:hidden; overflow-y:hidden; 
		width:96vw; margin-left:2vw; height:5em; contain:style; list-style-type:none; }
.adjacentList > * { margin:0.5em; }
.adjacentGroup > p { margin-left:2em; }
.adjacentGroup { z-index:1; } 
.adjacentGroup .buttonBar .button { min-width:15em; }
.adjacentItem { margin-left:1em; height:2.7em; }
.adjacentItem:nth-child(1) { height:4.5em; min-width: 7.5em; }

.adjacentGroup a:before, a.adjacentItem:before { content: attr(aria-label); visibility: hidden; opacity: 0; 
	text-align: left; white-space:pre-line; line-height:1.5; width:40em; padding: 1em 1em; transition: opacity 0.3s ease-in-out; 
	z-index:2; position: absolute; left:calc( 50% - 20em ); border:solid 1px; overflow-wrap: break-word; 
	margin-block-start:3.5em; contain: paint; pointer-events: none; }
/* try contain:none; */

.groupIndexContainer a.adjacentItem:before { z-index:0; }
.groupIndexContainer a.adjacentItem:hover:before { visibility: hidden; opacity:0;  }
@media screen and (min-resolution: 150dpi) {
	.groupIndexContainer .adjacentList .button { font-size:100%; }
	.groupIndexContainer .adjacentItem,	.adjacentItem, .adjacentList >* { margin-left:0px; }
  	.adjacentList { text-wrap-mode:wrap; }
   .adjacentGroup { min-width:99vw; }
	.adjacentList { height:auto; display:block;  width:98vw; }
    span.adjacentItem, .adjacentItem { display:block; margin-left:0.5em; height:auto; margin-bottom:0.5em; width:calc( 100vw - 3em ); }
	.adjacentItem .button { width:96vw; text-align:center; max-width:96vw; min-width:96vw; }
	.adjacentItem a.button { margin-left:0em; } 
	.adjacentItem:hover p { display:none; }
	.groupIndexContainer .adjacentItem p { width:fit-content; }
	.adjacentGroup a:before, a.adjacentItem:before { width:0; }
	.adjacentList { width:96vw; }
}
@media screen and (max-width:500px) {
	body.groupIndexContainer .adjacentItem { margin-left:0px; }
}
@media screen and (max-width: 800px) {
	.adjacentGroup { min-width: 100vw; margin-top:1em; margin-left:0px;  }
}
.adjacentGroup a.lower:before, a.adjacentItem.lower:before { left:calc( 50% - 30em ); }
.adjacentGroup a:hover:before, a.adjacentItem:hover:before { opacity: 1; visibility: visible; }
@supports( -moz-transform:rotate(45deg) ) {
   a.adjacentItem:hover:before { top:inherit; }
   .adjacentGroup a:hover:before { top:inherit; }
}

/** outer_menu
	...has no value in global scope...
	every page */
@media screen and (min-resolution: 150dpi) {
	.outer_menu { width:calc( 100vw - 0.5em ); /* flex:1 1 100vw; */ }
}
@media only screen and (min-device-width: 800px) 
                   and (orientation: landscape ) {
   .outer_menu { height:14em; flex:inherit; }
}

/** buttonBar	
	about 10 pages */
.buttonBar { text-align:center; padding:0em 2em; width: 900px; text-align: center; margin-left: auto; margin-right: auto; }
.buttonBar a, .buttonBar span { margin-left:1em; min-width:7.5em; }
p.buttonBar a:first-child { margin-left:0px; }
@media screen and (max-width:900px) {
	.buttonBar { width:100vw; } /* this will lead to wrapping on smaller screens */
}

/**  mobileMenu  RENAME
 only rendered on mobile view
*/
.mobilePopup { list-style-type:none; padding-left:0.3em; }
.mobilePopup li { margin-bottom:0.7em; }
.mobilePopup li::marker { display:none; }

@media screen and (min-resolution: 150dpi) {
	.mobilePopup li { margin-bottom:0.3em; }
}

/** maquetteContainer
    about 15 pages */
.maquetteContainer { display:flex; flex-wrap: wrap; align-items:flex-start; align-content:space-around;   }
.maquetteContainer details summary h4,  .maquetteContainer details summary h5 { display: inline-block; }
.maquetteContainer .browserTestingContainer summary { margin-bottom:1em; }
.maquetteContainer .maquette { width:660px; }
.maquetteContainer .docs { min-width:400px; max-width:800px; }
.maquetteContainer .maquette figure { min-width:12em; max-width:80%; margin-left: auto; margin-right: auto; text-align: center; }
@media screen and (max-width:640px ) {
	.maquetteContainer .maquette:before { display:block; width:100%; background:var(--errorbg); color:var(--starkfg); font-size:2em; padding-left:1em; padding-right:1em; content:"ERROR: screen width small"; }
}
@media screen and (max-width:1040px ) {
	.maquetteContainer .docs { width: auto; min-width:initial; max-width:initial; }
	.maquetteContainer { align-items:center; justify-content: center;  }
}

/** quiteWide a 70em block for text etc
	2 pages to date
  */
.quiteWide dl dt { display: inline-block; width: 20%; min-width: 8em; text-align: center; vertical-align: text-top; }
.quiteWide dl dd { display: inline-block; max-width: 79%; text-align: left; vertical-align: text-top; min-width: 75%; }
@media screen and (min-width:1024px ) {
	.quiteWide { width:70em; margin-left:auto; margin-right:auto; }	
}
@media screen and (max-width:1024px ) and (min-width:600px ) {
	.quiteWide { width:100%; margin-left:0; margin-right:0; }	
}
@media screen and (max-width:600px ) {
	.quiteWide { width:100vw; height:100vh; overflow-y:scroll; }	
	.quiteWide dl dt { display:block; max-width:50%; width: auto; }
	.quiteWide dl dd { display: block; min-width: 8em; max-width:100vw; }
	.halferWords {  width: 100vw; } 
}

/** popOverWidget 
	about 10 pages
*/
.popOverWidget summary { font-size:130%; margin:1em; margin-top: 0.1em; }
.popOverWidget summary::marker { font-size:150%; }
.popOverWidget details[open] {
	width:40em; height: calc( 100% - 8vh ); position:fixed; z-index:4; top:8vh; left:calc( 50% - 20em ); 
	right:calc( 50% - 20em ); background-color:var(--starkfg); border:double 3px var(--hardfg); 
}
.popOverWidget details[open] summary::after { content:"X"; margin-left:2em; float:right; font-weight:bold; 
	border:var(--hardfg) 1px solid; padding:0 1em; margin-top: 0.3em;
} 
.popOverWidget details li a:last-child::after { content:""; }

.popOverWidget details[open] p, .popOverWidget details[open] ul.ulbasic, .popOverWidget details[open] ul.ulbasic li {
   margin:1em; margin-left:2em; background-color:var(--starkfg); 
}

.popOverWidget details.withScroll[open] {
  overflow-y:scroll; overflow-x:scroll;  
}
.popOverWidget details.withScroll[open]::-webkit-scrollbar { width: 1em; }
.popOverWidget details.withScroll[open]::-webkit-scrollbar-thumb { background-color: var(--scroll1); outline: 1px solid var(--scroll2); }
/* branch for FF */
.popOverWidget details.withScroll[open] { scrollbar-width: auto; scrollbar-color:var(--scroll1) transparent; }

.popOverWidget:has( details[open] ) { --fgcontrast: 5; --bgcontrast:1; }
.popOverWidget details.singlePopup  { --fgcontrast: 0.95; --bgcontrast:1; }

@media screen and (min-width:1200px) {
	.popOverWidget details[open] { width:60em; left:calc( 50% - 30em ); right:calc( 50% - 30em ); }
}
@media screen and (min-width:1600px) {
	.popOverWidget details[open] { width:80em; left:calc( 50% - 40em ); right:calc( 50% - 40em ); }
}

@media screen and (max-width:900px) {
	.popOverWidget .centre { width:95%; margin-left:2.5%; margin-top:1em; margin-bottom:1em; }
	.popOverWidget details[open] { width:100%; right:0; left:0; }
	.popOverWidget details[open] p, details[open] ul { margin:0.1em; margin-left:0.2em; }
}

@media screen and (min-resolution: 150dpi) {
	.popOverWidget details[open] { width:100vw; }
    .popOverWidget summary { margin:initial; margin-left:2px; margin-right:2px; font-size:110%; word-break: break-all; }
}

@media screen and (min-width:1040px ) {
	.popOverWidget .maquetteContainer details.docs[open] { min-width:400px; max-width:800px; z-index:inherit; 
		position:inherit; height:max-content; width: calc( 100% - 660px ); border:inherit; }
	.popOverWidget .maquetteContainer details.docs[open] summary::after { content:""; border:inherit; }
	.popOverWidget .maquetteContainer .docs summary { --bgr: 0; --bgg: 73; --bgb: 135; --fgr: 245; --fgg: 245; --fgb: 245; }
	.popOverWidget .maquetteContainer .docs summary::marker { --fgr: 245; --fgg: 245; --fgb: 245; }
	.popOverWidget .maquetteContainer details.docs[open] summary:hover { --bgr: 0; --bgg: 73; --bgb: 135; }

}
.popOverWidget:has( .maquetteContainer>details.docs[open] ) { --fgcontrast: 0.95; --bgcontrast: 1; }

/** logWidget
	use data-attrib data-closed-prefix and data-open-prefix
	~5 pages
*/
.logWidget summary::before       { content:attr(data-closed-prefix) " " ; } 
.logWidget[open] summary::before { content:attr(data-open-prefix) " "; } 

.logWidget               { border:var(--hardfg) 1px solid;  } 
.logWidget summary       { font-size: 150%; font-weight:bold; padding:0.5em;  }
.logWidget ul li         { padding-left:0.5em; padding-right:0.5em; }
.logWidget ul            { margin-left:0px; scroll-snap-type: y proximity; align-content: end; }
.logWidget ul::after    { display: block; content: ""; scroll-snap-align: end;  }  
/* Thanks to  bramus@front-end.social for scroll snap setup */

/* highlight widget 
	note mostly uses external CSS 
	~15 pages */
.highlight li  { list-style: none; }
.highlight li::before { list-style: none; content:""; display:none; } 
.highlight {  white-space:pre; padding:0.3em; text-align:left; display:inline-block; user-select:all; }
.bashSample { text-align:left; padding:0.3em; user-select:all; hyphenate-character: "↩"; }
.halferWords .highlight:not([lang]), .highlight.wide, .fewWords .highlight:not([lang]) { display:block; width:100%; 
		margin:0.5em 0px; overflow-x:scroll; scrollbar-width: auto; scrollbar-color:var(--scroll1) transparent;  }
.shake,
.highlight::before { content:"$ "; }
code, code.highlight { border: none; }
code[lang="html"].highlight { line-height: 1; }
code[lang="html"].highlight::before, .highlight.wide::before { content:""; }

/** articleHeader 
	every page */
.articleHeader { -webkit-box-ordinal-group: 1; -moz-box-ordinal-group: 1; -ms-flex-order: 0;
		 -webkit-order: 0; order: 0; }
.articleHeader header h1 { min-height:2em; }
.articleHeader .row { display:flex; max-width:94%; }
.articleHeader div.bibbles.row {  max-width:94%; }
.articleHeader .row .column:first-child { flex: 10 1 0px; }
.articleHeader .fullWidth { max-width:100vw; display:block; }
.articleHeader .fullWidth h1 { padding-top:0.4em; padding-left:0.4em; }
.articleHeader .top-bar.fullWidth h1:first-letter { text-transform: uppercase; } /* hack to capitalise title, if I havent */

@media screen and (min-resolution: 150dpi) {
	.articleHeader .row a { font-size:120%; }
	.articleHeader .row { display:block; width:100vw; max-width:min-content; }

	.articleHeader .row a i { margin:1em 0.7em; }
	.articleHeader .row a svg { margin-left:0.4em; }
  	.articleHeader .popup1 a.button { margin-left: 0px; width:100vw; }
	.articleHeader .popup1 a#hideMasto { padding: 0.45em 0.75em; }
	.articleHeader  a#rssLink i { margin:inherit; }

    .articleHeader div.fullWidth { width:calc( 100vw - 1.5em ); }
	.articleHeader div.fullWidth h1 { padding-top:0.1em; padding-left:0em; }	
}
@media screen and (min-device-width: 600px) 
				and ( min-resolution: 150dpi) {
	.articleHeader .row  a:first-child, span.button.smallScreenOnly { font-size:120%; }
	.articleHeader .row .h4_menu li a:first-child { font-size:inherit; }
}
/* hack for landscape large phones & weird screen magnification laptops: suppress mobile flexing */
@media only screen and (min-device-width: 800px) 
                   and (orientation: landscape ) {
	.articleHeader .row  h1 { height:2em; } 
}
@media screen and ( max-resolution: 130dpi) and (min-aspect-ratio:3/5 ) and (min-width: 800px ) {
	.articleHeader .fullWidth p:empty { display:none; }
}
/* re-apply everything for a mac 
This is big screen mac, should work with wide versions
*/
@media not all and (min-resolution:.001dpcm) { 
  @supports (-webkit-appearance: none) {
	.articleHeader .fullWidth p:empty { display:none; }
}}


/** mixed navBar stuff
	every page
*/
@media screen and (min-resolution: 150dpi) {
    .articleHeader nav.row { display:block; width:100vw; }
    .articleHeader nav.row { max-width:min-content; }
    .articleHeader nav.row a i { margin:1em 0.7em; }
	.articleHeader nav.row a svg { margin-left:0.4em; }
   	.articleHeader nav.row .shareMenuOpen a i { margin: .3em; height: 1.5em; display: inline-block; }
   	.articleHeader nav.row .shareMenuOpen a i.fa-copy { margin: 3px 0px; padding: 0px; position: relative; left: 0.1em; }
    .articleHeader nav.row .shareMenuOpen a.button  { margin-left:0.40em; }
	.articleHeader nav.row .popup1 a.button { margin-left: 0px; width:100vw; }
 	.articleHeader nav.row .popup1 a#hideMasto { padding: 0.45em 0.75em; }
  	.articleHeader nav.row .shareMenuOpen a { font-size:120%; }
}
/* hack for landscape large phones & weird screen magnification laptops: suppress mobile flexing */
@media only screen and (min-device-width: 800px) 
                   and (orientation: landscape ) {
	.articleHeader nav.row  h1 { height:2em; } 
}
/*
@media screen and (min-device-width: 600px) 
				and ( min-resolution: 150dpi) {
   	.articleHeader nav.row a:first-child, span.button.smallScreenOnly { font-size:120%; }
}
*/

/** tabs-content for TabsWidget 
	inject root class to force work if needed
	currently only home-test
  */
@media screen and (max-width:700px) {
    fieldset.tabs-content { max-width:98%; width:98%; }
}

@media screen and (min-resolution: 150dpi) {
	.tabs-content p, .tabs-content li, .tabs-content a { font-size:120%; }
	.tabs-content li a { font-size:100%; }
	.tabs-content { width:100%; max-width:100vw; }
}	

/** addReferences
	about 70-80% of pages
*/
.addReferences a { padding:0.3em; display:inline-block; }
.addReferences a[aria-label]:before { columns:inherit; font-size:130%; content: attr(aria-label); 
	display:none; width: max-content; text-align: left; white-space:pre; line-height:1.5; padding: 1em 1em; 
	position: absolute; border:solid 1px; overflow-wrap: break-word; min-width:30em; pointer-events: none; 
	contain:paint; background-color:var(--starkfg); top:0px; }
/* try contain:none */
.addReferences h2 a[aria-label], .addReferences h3 a[aria-label] { font-size:50%; }
.addReferences h4 a[aria-label], .addReferences h5 a[aria-label] { font-size:70%; }
.addReferences a[aria-label]:hover:before { z-index:10; display:inline-block; /* transform: translate3d(0,0,0); */ }
.addReferences.showBiblioErrors sup a:not( [aria-label] ), 
	.addReferences.showBiblioErrors sup a[aria-label~="HTTP_ERROR,"] 
	{ background-color: var(--errorbg); padding:0.7em 0.5em; color:var(--starkfg); }
.addReferences.showBiblioErrors sup a[aria-label~="HTTP_ERROR,"]::before { color: var(--errorbg); background-color:var(--starkfg); }
/*  Dark-art attempting to map adjacent items.
  not enough success rate, so removed
.addReferences sup:has( + sup, + sup:last-of-type ), 
.addReferences sup:has( + a + sup )  { background:green; }
*/

/* this proved too fiddly, so removed
div.addReferences a.leanIn:before { left: calc( 95% - 32em ); } 
@supports( width:50cqw ) { 
div.addReferences a.leanIn:before { left: calc( 100cqw - 32em ); } 
div.addReferences sup a.leanIn:before { left: calc( 18cqw - 32em ); } 
} 
*/
.addReferences a.leanLeft:before { right:99%; } 
.addReferences a.leanUp::before { top: -12em ; } 
.addReferences a.leanDown::before { top: 1em; } 
.addReferences a:has( i.fa-github, i.fa-book-open ):before { font-size:100%; position: absolute; left:inherit; top:inherit; } 
.addReferences a:has( i.fa-github, i.fa-book-open ).leanLeft:before { left:auto; right:1em; } 
/*  .addReferences a:has( i.fa-github, i.fa-book-open ):hover:before { transform: unset; } */
.addReferences sup a.leanCentre::before {left: calc( 50% - 16em ); right: calc( 50% - 16em );  }
.addReferences sup a.leanRight::before { left:2px; right: inherit; } 
.addReferences .buttonBar a { padding: .85em 1em; }

/** trimmings for links, not sure what file to put these in
	SEE ALSO UTILS 
	80% of files */
a sup i.fa.invert { transform: rotate(90deg); font-size:70%; }
h2 sup { font-size:50%; }
sup + sup>a { margin-left:1em; }
p>a+ a { margin-left:0.5em; } 
sup:nth-child(1) { margin-left:inherit; }
sup a[aria-label], .reading, footer a { text-decoration:underline; }
@media screen and (min-resolution: 150dpi) {
	a sup i.fa.invert { font-size:90%; }
	a sup:has( i.invert ) { font-size:50%; }
	sub, sup { font-size: 130%; }
	sup a { line-height:1.5; }
}
@media screen and (max-width: 800px) {
	sup a { line-height:2; }
}


