@font-face {
  font-family: "Ubuntu";
  src:
    url("/fonts/ubuntu-regular-webfont.woff2") format("woff2"),
    url("/fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenDyslexic";
  src:
    url("/fonts/OpenDyslexic-Regular.woff2") format("woff2"),
    url("/fonts/OpenDyslexic-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "atkinson";
  src:
    url("/fonts/Atkinson-Hyperlegible-Regular-102a.woff2") format("woff2"),
    url("/fonts/Atkinson-Hyperlegible-Regular-102.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "olivia";
  src: url("/fonts/InclusiveSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.annoyingBody,
.h4_page {
  font-family: "ubuntu", sans-serif;
}
.highlight {
  font-family: monospace;
}
.bashSample {
  font-family: monospace;
}
