.button {
  padding: 0.65em 1em;
}

cite {
  display: inline-block;
}

h2 a,
h3 a,
h4 a,
h5 a {
  background-color: inherit;
  color: inherit;
}

/** only used for the reading time link */
.reading {
  vertical-align: super;
  white-space: nowrap;
  padding: 0.3em 0em;
  display: inline-block;
  width: 8em;
}
@media screen and (min-resolution: 150dpi) {
  .reading {
    width: auto;
  }
}

.wideLink ul li > a:first-of-type {
  display: inline-block;
  width: 12em;
  text-align: center;
  margin-right: 0.3em;
}
.wideLink ul li sup a {
  width: auto;
}

details summary h3,
details summary h4 {
  display: inline-block;
}

/** if a list item is splitted due to page wrapping, maybe unused now  */
li.split:before {
  content: "…";
}
@media screen and (min-resolution: 150dpi) {
  li {
    margin: 2px 10px;
  }
}

@media screen and (min-resolution: 150dpi) {
  input[type="text"],
  #fSearch .button {
    font-size: 130%;
  }
}

@media screen and (min-resolution: 150dpi) {
  #rssLink {
    width: 2.3em;
  }
  #navBar a#rssLink i {
    margin: inherit;
  }
}

@media screen and (min-resolution: 150dpi) {
  .column {
    padding-left: 0px;
    padding-right: 0px;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: inherit;
}
body,
.annoyingBody {
  font-family: "ubuntu", sans-serif;
}

.fixLinkedSq {
  font-size: 200%;
  margin-bottom: 0px;
}
#linkedinpix {
  width: 20px;
  height: 20px;
}

pre {
  text-align: left;
}

del,
.ulbasic del {
  --fgcontrast: 0.5;
  color: rgba(
    calc(var(--fgr) * var(--fgcontrast)),
    calc(var(--fgg) * var(--fgcontrast)),
    calc(var(--fgb) * var(--fgcontrast)),
    var(--fgcontrast)
  );
}

i.specialPointer {
  z-index: 2;
  vertical-align: inherit;
  font-size: 4em;
  position: relative;
  top: 0.17em;
  left: -36px;
}
@media screen and (min-resolution: 150dpi) {
  i.specialPointer {
    font-size: 6em;
    left: -0.3em;
    top: 0.25em;
  }
}

/** bigScreen / smallScreen
   every page
  */
@media screen and (max-resolution: 130dpi) and (min-aspect-ratio: 3/5) and (min-width: 800px) {
  .bigScreenOnly {
    display: inline-block;
  }
  .mastodonWidget.bigScreenOnly {
    display: none;
  }
  .smallScreenOnly,
  .button.smallScreenOnly {
    display: none;
  }
  .SMshareWidget a.smallScreenOnly {
    display: none;
  }
}

@media screen and (min-resolution: 150dpi) {
  .SMshareWidget a.bigScreenOnly,
  .SMshareWidget span.bigScreenOnly,
  .bigScreenOnly,
  .ultraSkinny.bigScreenOnly,
  .SMshareWidget a.bigScreenOnly {
    display: none;
  }
  .smallScreenOnly {
    display: inline-block;
  }
  span.button.smallScreenOnly {
    font-size: 100%;
    padding: 0.5em 0.3em;
  }
}

/* re-apply everything for a mac 
This is big screen mac, should work with wide versions
*/
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .bigScreenOnly {
      display: inline-block;
    }
    .mastodonWidget.bigScreenOnly {
      display: none;
    }
    .smallScreenOnly {
      display: none;
    }
    .SMshareWidget a.smallScreenOnly {
      display: none;
    }
  }
}

/* small screen mac, AKA iphone/ ipad */
@media screen and (max-width: 800px) and (min-resolution: 120dpi) {
  @supports (-webkit-touch-callout) {
    .bigScreenOnly,
    .ultraSkinny.bigScreenOnly,
    .SMshareWidget a.bigScreenOnly {
      display: none;
    }
    .smallScreenOnly {
      display: inline-block;
    }
  }
}

@media screen and (min-resolution: 150dpi) {
  .articleHeader
    nav.row:not(:has(.headingsWidget))
    .metaWidget.row
    .SMshareWidget {
    width: auto;
  }
  .articleHeader nav.row:not(:has(.headingsWidget)) .metaWidget.row {
    width: calc(100vw - 2em);
  }
}

/* Amit Merchant https://www.amitmerchant.com/bare-minimum-view-transitions/ 
	Note doesn't work in FF 
*/
@view-transition {
  navigation: auto;
}

a[href] {
  text-decoration: underline;
}

a[href^="#toc"] {
  text-decoration: inherit;

}

