
.button { padding:0.65em 1em; }

cite { display:inline-block; }

h2 a, h3 a, h4 a, h5 a { background-color: inherit; color: inherit; } 

/** only used for the reading time link */
.reading { vertical-align:super; white-space:nowrap; padding:0.3em 0em; display: inline-block; 
		width: 8em; text-decoration:underline; }
@media screen and (min-resolution: 150dpi) {
	.reading { width: auto; }
}

.wideLink ul li>a:first-of-type { display:inline-block; width:12em; text-align:center; 
		margin-right: 0.3em; }
.wideLink ul li sup a { width:auto; }
/* .wideLink .ulbasic>li>sup>a { display:inline; width:inherit; margin-right: 0; } */

/** if a list item is splitted due to page wrapping, maybe unused now  */
li.split:before { content:"…"; }
@media screen and (min-resolution: 150dpi) {
	li { margin:2px 10px; }
}

@media screen and (min-resolution: 150dpi) {
	input[type='text'], #fSearch .button { font-size:130%; }
}

@media screen and (min-resolution: 150dpi) {
	#rssLink { width: 2.3em; }
	#navBar a#rssLink i { margin:inherit; }
}

@media screen and (min-resolution: 150dpi) {
	.column { padding-left:0px; padding-right:0px; }
}

